<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmXvApuGE0u_E0cQVOWWCiGy0wk6Yubhs</string>
	<key>GCM_SENDER_ID</key>
	<string>626926301266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseNotifications</string>
	<key>PROJECT_ID</key>
	<string>fir-notifications-projec-f2374</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notifications-projec-f2374.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626926301266:ios:878dce70fbcb82828def8b</string>
</dict>
</plist>